.container-taboa-caneca {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
  gap: 40px;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: right;
  max-width: 500px;
  gap: 35px;
}

.left-section h2 {
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}

.info-block {
  display: flex;
  align-items: flex-start;
  justify-content: right;
}

.icon-circle {
  width: 60px;
  height: 60px;
  background-color: #0044ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  margin-right: 20px;
  flex-shrink: 0;
}

.info-block p {
  color: #444;
  font-size: 14px;
  line-height: 1.6;
  width: 70%;
}

.right-section img {
  max-width: 400px;
  height: auto;
  object-fit: cover;
}

@media (max-width: 480px) and (orientation: portrait) {
  .container-taboa-caneca {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .left-section {
    max-width: 100%;
    gap: 20px;
  }

  .info-block {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .icon-circle {
    margin-bottom: 10px;
  }

  .right-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(80, 14, 118, 0.2);
  }
  .right-section img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  .right-section img:active {
    transform: scale(1);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(103, 10, 156, 0.367);
  }
}

@media (max-width: 915px) and (orientation: landscape) {
  .container-taboa-caneca {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .left-section {
    max-width: 100%;
    gap: 20px;
  }

  .info-block {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .icon-circle {
    margin-bottom: 10px;
  }

  .right-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(80, 14, 118, 0.2);
  }
}
.right-section img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.right-section img:active {
  transform: scale(1);
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(103, 10, 156, 0.367);
}
