.container-busca {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #ed4a09;
}
.logo {
  /* width: 35%; */
  display: flex;
  justify-content: right;
}
.div-busca {
  display: flex;
  /* width: 50%; */
  #busca {
    width: 50%;
    font-size: 12px;
    font-weight: 600;
    border: none;
    outline: none;
  }
}
.cliente {
  display: flex;
  /* width: 25%; */
  /* gap: 20px; */
}
